include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include owncloud_backup *.css
recursive-include owncloud_backup *.csv
recursive-include owncloud_backup *.html
recursive-include owncloud_backup *.ico
recursive-include owncloud_backup *.js
recursive-include owncloud_backup *.json
recursive-include owncloud_backup *.md
recursive-include owncloud_backup *.png
recursive-include owncloud_backup *.py
recursive-include owncloud_backup *.svg
recursive-include owncloud_backup *.txt
recursive-exclude owncloud_backup *.pyc